/* Swiper 래퍼 */
.swiperContainer {
    width: 100%;
    height: 100%;
}
  
.swiperSlide {
    text-align: center;
    font-size: 1.125rem; /* 18px */
    background: #fff;
    /* 슬라이드 텍스트를 수직 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiperSlideImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
